<div><%=@band.name%></div>

<ul>
	<% @band.albums.each do |album| %>
	<li>
		<%= link_to album.name, album_url(album)%>
		<ul>
			<% album.tracks.each do |track| %>
				<li><%= link_to track.name, track_url(track) %></li>
			<% end %>
		</ul>
	</li>
	<%end%>
</ul>